@import url('https://fonts.googleapis.com/css4?family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Moon+Dance&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
:root {
    --main-color: rgb(165, 236, 237);
    --main-color_1:aqua;
    --color-yellow: rgb(255, 175, 2);
    --color-main-blue:rgb(4, 35, 76);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_top {
    height: 60px;
    background-color: rgb(4, 35, 76);
    position: fixed;
    width: 100vw;
    display: flex;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .header_top::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-yellow);
    background-color: rgb(4, 35, 76);
    transform: translateY(-100%);
    transition: all 0.2s ease;
} */

.header_top i {
    margin: 12px;
    font-size: 35px;
    color: rgb(236, 175, 45);
    z-index: 1;
    cursor: pointer;
}
.header_top ul {
    margin: 0 auto;
    display: flex;
}

.header_top ul li {
    list-style: none;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;    
    width: 150px; 
}
@keyframes Fade {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
}
.header_top ul li  a {
    text-decoration: none;
    margin-left: 12px;
    padding-top: 10px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: var(--color-yellow);
    display: block;
    background-color: transparent;
    transition: all 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header_top ul li  a:hover {
    background-color: wheat;
    color:  tomato;
    box-shadow: -3px 3px 3px;
}

/* -----Contact Content */
.contact-container {
    margin: 0 auto;
}
.contact-container-slogan h2 {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.contact-container-slogan h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background-color: red;
    border-radius: 15px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);  
}

.contact-container-content {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-container-left {
    width: 55%;
}
.contact-container-left form {
    border-right: 0.5px dashed rgba(140, 139, 139, 0.564);
}
.contacct-form h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px;
    font-family: 'Dancing Script', cursive;
    color: #FDC703;
    line-height: 34px;
}
.contacct-form p {
    font-style: italic;
    opacity: 0.7;
}
.contact-form-email {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.contact-form-email-box:nth-child(1),
.contact-form-email-box:nth-child(2) {
    width: 50%;
}
.contact-form-email-box {

    padding-right: 50px;
    width: 100%;
}
.contact-form-email-box h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
}
.contact-form-email-box input {
    text-indent: 3px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}
.contact-form-email-box button {
    margin-top: 20px;
    background-color: #eb9f48;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.1s linear;
}
.contact-form-email-box button:hover {
    box-shadow: 2px 2px 2px #226;
}
.contact-container-right {
    width: 45%;
}
.contact-container-right-info {
    margin-left: 250px;
    padding: 0 20px;
}
.contact-container-right-info h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px;
    font-family: 'Dancing Script', cursive;
    color: #FDC703;
    line-height: 34px;
}
.contact-container-right-info span {
    padding-top: 20px;
    display: block;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 15px;
}
.contact-container-right-info a {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    padding-top:20px;
    color: #e46d30;
    
}
.contact-container-right-info h3 {
    padding-left: 10px ;
    font-family: 'Courier New', Courier, monospace;
}
/* ------Footer----- */
.footer{
    margin-top: 30px;
    width: 100vw;
    background: var(--color-main-blue);
}

.footer .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.footer .box-container .box {
    padding: 0 30px;

}
.footer .box-container .box h2{
    padding-top: 20px;
    font-size: 30px;
    color: var(--color-yellow);
    font-family: 'Dancing Script', cursive;
}
.footer .box-container .box p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom:.5rem ;
}

.footer .box-container .box a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: rgb(215, 181, 181);
    padding: 1rem 0;
    display: block;
    transition: 0.5s linear;
}

.footer .box-container .box a:hover{
    color: #fff;
}

.footer .box-container .box a:hover i{
    padding-right:2rem ;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: rgb(5, 12, 12);
    transition: 0.5s linear;
}

.footer .box-container .box form  {
    background-color: rgb(172 88 25);
}
.footer .box-container .box form input[type="email"]{
    text-indent: 2px;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    font-family: 'Dancing Script', cursive;
    color: #222;
    margin: 1rem 0;
    text-transform: none
}
.footer .box-container .box form button{
    background-color: transparent;
    padding: 10px ;
    border: 2px solid yellow;
    border-radius: 45px;
    width: 15rem;
    height: 5rem;
    cursor: pointer;
    color: beige;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    z-index: 2;
}
.footer .box-container .box form button:hover {
    background-color: transparent;
    font-size: 40px;
    color: var(--color-yellow);
    transition: all 0.5s ease;
    border: 3px solid rgb(209, 144, 3);
}

.footer .box-container .box .payments{
    width: 100%;
    margin-top: 2rem;
}

.pay{

}
.pay .img-master{
    width: 50px;
    margin-bottom: 8px;
}
.pay .img-pay{
    width: 50px;
} 
