@import url('https://fonts.googleapis.com/css4?family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Moon+Dance&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
:root {
    --main-color: rgb(165, 236, 237);
    --main-color_1:aqua;
    --color-yellow: rgb(209, 144, 3);
    --color-main-blue:rgb(4, 35, 76);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

ul {
   list-style: none;
}
a {
    text-decoration: none;
}


/* --------Content---------- */

header {
    position: relative;
}
.header_top {
    margin: 0 auto;
    background-color: rgb(4, 35, 76);
    position: fixed;
    width: 100vw;
    height: 4em;
    z-index: 99;
    display: flex;
}
/* .header_top::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-yellow);
    background-color: rgb(4, 35, 76);
    transform: translateY(-100%);
    transition: all 0.2s ease;
} */
/* .header_top.active::before {
    transform: translateY(0);

} */
/* .top {
    background-color: #666;
} */
.header_top i {
    margin: 12px;
    font-size: 35px;
    color: rgb(236, 175, 45);
    z-index: 1;
    cursor: pointer;
}
.header_top ul {
    margin: 0 auto;
    z-index: 1;
    display: flex;
}

.header_top ul li {
    padding-top: 10px;
    text-align: center;
    cursor: pointer;    
    width: 150px;

    
    
}
@keyframes Fade {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
}
.header_top ul li  a {
    margin-left: 12px;
    padding-top: 10px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: var(--color-yellow);
    display: block;
    background-color: transparent;
    transition: all 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header_top ul li  a:hover {
    background-color: wheat;
    color:  tomato;
    box-shadow: -3px 3px 3px;
}
.hearder_content {
    position: absolute;
    top: -80px;
    min-height: 110vh;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 150px 50px 0 50px;
    text-align: center;
    width: 400px;
    animation: Fade 1s linear backwards;
    
}
.hearder_content.active {
    display: block;
    opacity: 1;
    transform: translateX(150%);
}
.hearder_content> h2 {
    color: rgb(61, 224, 36);
    font-weight: 20px;
}
.hearder_content h4 {
    color: rgb(64, 223, 93)
}
form {
    padding: 20px 12px;
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius: 10px;
}
form h2 {
    color: rgb(236, 175, 45);;
    font-size: 25px;
    font-weight: 5px;
}
form select, input {
     width: 100%;
     height: 40px;
     padding-left: 10px;
     outline: none;
     background-color: #dddd;
     border: none;
     border-radius: 10px;
}
form p {
    color: var(--main-color);
    text-align: left;
    margin: 8px 0 3px;
}
form button {
    width: 50%;
    height: 30px;
    margin: 10px 0 5px;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border: 2px solid var(--main-color);
}
form button:hover {
    color: tomato;
    background-color: azure;
    box-shadow: 5px 5px 5px 5px #666;
}
/* --------Nice Place */
.container {
    /*   */

    max-width: 1100%;
    margin: auto;
}
.nice-place {
    padding: 50px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nice-place-item {
    border-radius: 15px;
    width: 30%;
    height: 400px;
    position: relative;
    overflow: hidden;

}
.nice-place-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.nice-place-img i {
    padding: 25px;
    top: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    cursor: pointer;
}
.nice-place-img p {
    top:0;
    padding: 18px;
    position: absolute;
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    transform: translate(260%,-20%);


}
.nice-place-img i.active {
    color: red;
}

.nice-place-text {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0px;
    padding: 12px;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(245,245,245,0));
    /* transform: translateX(-100%); */
    transition: all 0.8s ease;
}
.nice-place-item:hover .nice-place-text {
    transform: translateX(0);
}
.nice-place-text h3 {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}
.nice-place-text i {
    color: yellow;
    
}
.nice-place-text p {
    font-weight: 20px;
    padding-top: 15px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    
}
.nice-place-text button {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: transparent;
    color: var(--color-yellow);
    border-radius: 15px;
    border: 2px solid var(--color-yellow);
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
/* .nice-place-text button:hover {
    background-color: #fff;
    color: tomato;
    box-shadow: 2px 2px 2px var(--color-yellow);
    font-weight: 100px;
} */
.nice-place h2 {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
/* .nice-place h2:nth-child(1)::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background-color: red;
    border-radius: 15px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    
} */
/* .nice-place h2:nth-child(1)::after {
    position: absolute;
    content: "\2665";
    color: red;
    bottom: -45px;
    width: 40px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);   
} */

/* ------Footer----- */
.footer{
    margin-top: 50px;
    width: 100vw;
    background: var(--color-main-blue);
}

.footer .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.footer .box-container .box {
    padding: 0 30px;

}
.footer .box-container .box h2{
    padding-top: 20px;
    font-size: 30px;
    color: var(--color-yellow);
    font-family: 'Dancing Script', cursive;
}
.footer .box-container .box p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom:.5rem ;
}

.footer .box-container .box a{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: rgb(215, 181, 181);
    padding: 1rem 0;
    display: block;
    transition: 0.5s linear;
}

.footer .box-container .box a:hover{
    color: #fff;
}

.footer .box-container .box a:hover i{
    padding-right:2rem ;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: rgb(5, 12, 12);
    transition: 0.5s linear;
}

.footer .box-container .box form  {
    background-color: rgb(172 88 25);
}
.footer .box-container .box form input[type="email"]{
    text-indent: 2px;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    font-family: 'Dancing Script', cursive;
    color: #222;
    margin: 1rem 0;
    text-transform: none
}
.footer .box-container .box form button{
    background-color: transparent;
    padding: 10px ;
    border: 2px solid yellow;
    border-radius: 45px;
    width: 15rem;
    height: 5rem;
    cursor: pointer;
    color: beige;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    z-index: 2;
}
.footer .box-container .box form button:hover {
    background-color: transparent;
    font-size: 40px;
    color: var(--color-yellow);
    transition: all 0.5s ease;
    border: 3px solid rgb(209, 144, 3);
}

.footer .box-container .box .payments{
    width: 100%;
    margin-top: 2rem;
}

.pay{

}
.pay .img-master{
    width: 50px;
    margin-bottom: 8px;
}
.pay .img-pay{
    width: 50px;
}